#ploca {
    -fx-background-color: lightskyblue;
}

#osPod {
    -fx-background-color: lightskyblue;
}
#licPod {
    -fx-background-color: lightskyblue;
}
#konPod {
    -fx-background-color: lightskyblue;
}
#stuPod {
    -fx-background-color: lightskyblue;
}
#potvrdiBtn
{
    -fx-background-color: PeachPuff;
}
.poljeIspravno {
    -fx-background-color: greenyellow;
}

.poljeNijeIspravno {
    -fx-background-color: lightpink;
}
